[Desktop Entry]
Encoding=UTF-8
Name=OpenBoard
Comment=OpenBoard, an interactive white board application
Exec=env MESA_GLTHREAD=true QT_SCALE_FACTOR_ROUNDING_POLICY=PassThrough openboard %f
Icon=ch.openboard.OpenBoard
StartupNotify=true
Terminal=false
Type=Application
MimeType=application/ubz
Categories=Education;
